@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('fonts/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: orange;
}


.logo {
    display: inline-block;
    float: left;

}

nav li a {
    color: rgba(218, 120, 90, 0.9);
    text-decoration: none;
}


nav li {
    display: inline;
    list-style-type: none;
}

.cart {
display: inline-block;
float: right;
}

.banner {

}

.bannertext {

}

.banner_img {

}

.banner p {
    font-size: 2 rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);

}

.banner {
    width: 100%;
}

.bannergirl {
    height: 80%;
}

.tagline {
margin: 150px auto;
}

.tagline p {
    max-width: 37em;
    margin: auto;

}

.departments a {
font-weight: bold;
color: rgba(255, 255, 255, 0.9);

}

.favourites a {
}

.updates {
    color: white;
}
.updates h2 {
    color: white;
    text-shadow: 2px 2px 2px rgba(80, 80, 80, 0.5);

}

h2 em {
    font-family: "PlayFairDisplay" ;
    font-style: italic;
    font-weight: normal;
    font-size: 2rem;
}

h2 {
    font-family: "PlayFairDisplay" ;
    font-weight: normal;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.9)
}
h3 {
    font-family: "PlayFairDisplay" ;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(218, 120, 90, 0.9)
}

h4 {
color:  rgba(160, 160, 160, 0.9);
font-weight: bold;
text-transform: uppercase;
}

h1 {
    font-family: "PlayFairDisplay" ;
    font-weight: normal;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.9)
}

h5 {
    font-family: "PlayFairDisplay" ;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    margin: 5px;
    padding: 0px;
}

h5 a {
    font-family: "PlayFairDisplay" ;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    margin: 5px;
    padding: 0px;
}

footer h5 {
    padding-left: 20px;
    text-align: left;
    background-color: hsl(217°, 2%, 25%)

}

.address h5 {
    color: grey;

}

.socialmedia li {
    list-style-type: none;
    padding: 0.6em;

}

#form {
background-color: white;
border-radius: 10px;
margin: auto;
}

.email {
    display: inline;
background-color: white;
border-radius: 20px;
padding-right: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;

}

.email input {
    outline: none;
    text-align: left;
}

button {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 7px;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.details {
    float:left
}


