
.departments {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  flex-wrap: wrap;

}


.category {
position: relative;
margin: 5px;


}

.category h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}






